<div class="container-fluid login-container">

  <div class="row login">
    <h1 class="text-center login-title">Log In...</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field text-center">
        <%= f.label :email, class:"label" %><br />
        <%= f.email_field :email, class:"email-field" %>
      </div>

      <div class="field text-center">
        <%= f.label :password, class:"label" %><br />
        <%= f.password_field :password, autocomplete: "off", class:"email-field" %>
      </div>

      <div class="actions text-center">
        <%= f.submit "Log in", class:"submit-btn" %>
      </div>
    <% end %>
    <div class="row text-center">
        <%= render "devise/shared/links" %>
    </div>
  </div>


  <div class="row snow-hills">
      <%= image_tag "background.png", class:"tree_background" %>
  </div>

  <div class="row signature">
    <%= image_tag "signature.png", class:"signature-img" %>
  </div>
</div>
